<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Tesouro - Arquivos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos adicionais para centralizar o card verticalmente */
        .full-height {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center full-height">
        <div class="card shadow" style="width: 100%; max-width: 500px;">
            <div class="card-body">
                <h1 class="card-title text-center">Arquivos</h1>
                <h5 class="text-center">Suba arquivos com o tamanho máximo de 512MB</h5>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Escolha um arquivo para fazer upload:</label>
                        <input type="file" class="form-control-file" id="file" name="file" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Fazer Upload</button>
                    </div>
                </form>

                {% if download_link %}
                <div class="alert alert-success mt-4 text-center">
                    <p>Arquivo enviado com sucesso! Use o link abaixo para compartilhar:</p>
                    <a href="{{ download_link }}" class="btn btn-success">{{ download_link }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
